.a:hover{
  text-decoration: underline;
  color: rgb(240, 240, 240) ;
}
.a{
  text-decoration: none;
  font-size: 14px;
  color: #c7c7c8;
  /* margin: 8px 0;
  font-size: 1rem;
  font-weight: 400; */
}
.fontsize{
  font-weight: 700;
 
}
.navA{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;

}
.navA:hover{
  text-decoration: none;

}
.button:hover{
  transform:scale(1.05); /*increase 5 percent*/
}


.install:hover{
  border-bottom: 1px solid rgb(103, 100, 100); /* Change the color here */
  color: black ;
  font-weight: 600;
  font-size: 19px;
}
.install{
  text-decoration: none;
  font-size: 17px;
  color:black;
  font-weight: 600;
  /* margin: 8px 0;
  font-size: 1rem;
  font-weight: 400; */
}