/* libtable.module.css */

.tableContainer {
    background-color: #121212;
  }
  
  .table {
    background-color: transparent;
    color: white;
  }
  
  .table th {
    font-weight: 400;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .table th,
  .table td {
    border: none;
    vertical-align: middle;
  }
  
  .table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .table tbody tr th,
  .table tbody tr td {
    padding: 0.75rem;
  }
  
  .table tbody tr td {
    border-top: none;
    font-size: 0.875rem;
  }
  
  .table thead th {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .table tbody tr th {
    color: rgba(255, 255, 255, 0.5);
  }
  
  
  .play {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .play::after {
    content: "\25B6"; /* Unicode character for play button */
    opacity: 0; /* Initially hidden */
  }
  
  .play:hover::after {
    opacity: 1; /* Show play button when hovered */
  }
  
  
  
  .a:hover{
    text-decoration: underline;
    color: rgb(240, 240, 240) ;
  }
  .a{
    text-decoration: none;
    color: rgb(240, 240, 240) ;
  }